# Local .terraform directories
**/.terraform/*
dist
.terraform

# .tfstate files
*.tfstate
*.tfstate.*
**/terraform.tfstate
**/terraform.tfstate.backup


# tf lock file
**/.terraform.lock.hcl

**/kubeconfig-dev
